@model Trainees_Track_Courses_MVC.Models.Trainees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrnName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courses.CrsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tracks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tracks.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrnID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
